<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "maths" parallel = "methods", thread-count="3">
<test name = "addTest">
<classes>
<class name = "com.thegeeksdiary.AppTest"/>
</classes>
</test>
</suite>

<suite name = "area">
<test name = "areaOfCircle">
<classes>
<class name = "com.thegeeksdiary.AppTest"/>
</classes>
</test>
</suite>
